* {
  margin: 0;
}

h2 {
  text-align: center;
  color: rgb(216, 27, 27);
  padding-top: 20px;
}

.App {
  background-color: #fafafa;
}

.App__header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
  padding-left: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App__header div{
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.App__header Button {
  margin-right: 10px;
}
.App__headerImage {
  width: 180px;
}

.App__signup {
  display:flex;
  flex-direction: column;
}

.App__posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 3vh 5% 12vh 5%;
}

.Modal__button {
  margin-top: 25px;
  text-align: center;
}

.footer {
  background-color:rgb(65, 62, 62);
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}